/* Hero Section Container */
.hero-section {
    position: relative;
    color: white;
    text-align: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the section takes the full width */
    margin-top: 40px;
}

/* Background Image */
.hero-image {
    width: 100%; /* Ensure the image takes the full width of the section */
    height: 100%; /* Ensure the image takes the full height of the section */
    object-fit: cover; /* Ensure the image covers the entire area */
    object-position: top; /* Emphasize the top part of the image */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Hero Content Container */
.hero-content {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    padding: 20px; /* Optional: add padding to text */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); /* Optional: add text shadow for readability */
    margin: 0 auto; /* Center the content */
}

/* h1 Tag Styling */
.hero-content h1 {
    font-size: 3.5rem; /* Larger text size */
    color: #c09f0d; /* Deep red, often associated with Nepali cultural colors #8d7819 */
    margin-bottom: 20px;
}

/* p Tag Styling */
.hero-content p {
    font-size: 1.2rem; /* Smaller text size */
    color: #f1faee; /* Light, subtle color */
    margin-top: 0;
}
